protected/components/UserIdentity.php
protected/runtime/*
protected/data/*
!assets/.gitignore
assets/*
!protected/runtime/.gitignore
*.bat
protected/data/*
.idea/
protected/uploaded_files/*
error_log
.phpintel/
*.tmp
netbeans/
.netbeans/
nbproject/private/
ip/*
ip/
generator/
freevoip/
TODO/